{% extends 'base.html.twig' %}

{% block title %}{% trans %}rgpd{% endtrans %}{% endblock %}

{% block titreh1 %}Conditions d'utilisation{% endblock %}

{% block body %}

<div class="container">
    <ul class="third-color">
        <li>1. Acceptation des conditions d'utilisation
            En utilisant notre site web de pet sitting, vous acceptez pleinement et sans réserve les présentes conditions d'utilisation. Si vous n'acceptez pas ces conditions, veuillez ne pas utiliser le site.
        </li>
            <li>2. Responsabilité
            Nous nous efforçons de fournir des informations précises et à jour sur notre site web, mais nous ne pouvons garantir l'exactitude, l'exhaustivité ou la fiabilité de ces informations. Vous reconnaissez que l'utilisation des informations présentes sur le site se fait à vos propres risques.
        </li>
            <li>3. Inscription et création de profil
            Pour utiliser certaines fonctionnalités de notre site web, vous devrez vous inscrire et créer un profil utilisateur. Vous êtes responsable de fournir des informations exactes, complètes et à jour lors de l'inscription. Vous êtes également responsable de maintenir la confidentialité de votre compte et de votre mot de passe.
        </li>
            <li>4. Services de pet sitting
            Notre site web facilite la mise en relation des propriétaires d'animaux de compagnie avec des pet sitters. Nous ne sommes pas responsables des transactions ou des interactions qui se produisent entre les utilisateurs. Nous vous recommandons de prendre des précautions appropriées lors de la sélection d'un pet sitter et de vérifier les informations fournies par les utilisateurs.
        </li>
            <li>5. Contenu généré par les utilisateurs
            Certains aspects de notre site web peuvent permettre aux utilisateurs de publier du contenu, y compris des commentaires, des évaluations et des photos. Vous êtes seul responsable du contenu que vous publiez et vous acceptez de ne pas publier de contenu diffamatoire, offensant, illégal ou violant les droits de propriété intellectuelle de tiers.
        </li>
            <li>6. Propriété intellectuelle
            Le contenu présent sur notre site web, y compris les textes, les images, les logos et les marques, est protégé par les lois sur la propriété intellectuelle. Vous ne pouvez pas reproduire, distribuer ou utiliser ce contenu sans notre autorisation expresse.
        </li>
            <li>7. Limitation de responsabilité
            Dans la mesure permise par la loi, nous déclinons toute responsabilité pour les dommages directs, indirects, consécutifs ou spéciaux découlant de l'utilisation ou de l'incapacité d'utiliser notre site web, y compris les pertes de données, les interruptions d'activité ou les préjudices causés aux animaux de compagnie.
        </li>
            <li>
            8. Modification des conditions d'utilisation
            Nous nous réservons le droit de modifier ces conditions d'utilisation à tout moment. Les modifications entreront en vigueur dès leur publication sur le site web. Il est de votre responsabilité de consulter régulièrement les conditions d'utilisation pour être informé des éventuelles modifications.
            En utilisant notre site web de pet sitting, vous acceptez ces conditions d'utilisation. Si vous avez des questions ou des préoccupations, veuillez nous contacter via les coordonnées fournies sur le site.
            Veuillez noter que cet exemple est fourni à titre indicatif et que vous devez adapter les conditions d'utilisation en fonction des spécificités de votre site web de pet sitting et des lois applicables dans votre pays.
            </li>
    </ul>
</div>

{% endblock %}